body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #F5F0E6;
  color: #333;
  margin: 0;
  padding: 0;
}

h2 {
  font-family:'Playfair Display', serif;
  color: #2A5C82;
}

header {
  background-color: #2A5C82;
  color: #D2C1A5;
  margin: auto;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start; 
  gap: 20px;
  font-weight: bold;
  font-size: large;
  font-family: 'Lora', serif;
}

header img {
  border-radius: 35%;
}

button{
  padding: 10px 20px;
  background-color: #1A3A5F;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  margin: 10px;
  font-family: 'Lora', serif;
  font-size: 16px;
  margin-left: 20px;
  
}

nav ul {
  display: flex;
  justify-content: flex-end; 
  list-style: none;
  padding: 4px; 
  background-color: #a2bcd4;
  margin: 0; 
  font-family: 'Lora', serif;
  font-size: 20px;
  gap: 10px;

}
nav ul li a {
  color: white;
  background-color: #D2C1A5;
  text-decoration: none;
  padding: 12px 24px;
  display: block;
  border: 2px solid #1A3A5F;
  border-radius: 4px;
  font-weight: 500;
  transition: all 0.3s ease;
}
  

nav ul li {
  margin: 0 10px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  padding: 10px;
  display: block;
}

nav ul li a:hover {
  background-color: #0b62be; 
}

section {
  margin: 20px;
  padding: 20px;
  background-color: #fff;
  border-left: 4px solid #E8DBC5;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1); 
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #1A3A5F;
  color: white; 
}